body {
    width: 100%;

}

#banner
{
	width: 99%;
	position: relative;
	font-size: large;
    top: 0px;
    left: -1px;
}

#left
{
    position: relative;
	float: left;
	width: 25%;
    text-align: center;
}						

#links {
    width: 99%; 
    position: relative;
    text-align:right;
    float:right;
   
}

#left
{
	position: relative;
	float: left;
	width: 25%;
    top: 4px;
    left: 0px;
}
				

#right {
    position: relative;
    float: left;
    width: 65%;
}

#middle {
    position: relative;
    float:left;
    width: 3%;
    top: 0px;
    left: 0px;
    height: 366px;
}

#bottom
{

	width: 100%;
	position: relative;
	float: left;
}

#labels {
    width: 20%;
    position: relative;
    float: left;
    text-align: right;
}


/*------ MENU ------*/
#menu{
	border:solid 1px #313131;
	background:#cf5300;
    width:99%;
	height:40px;
	margin:10px auto;
	overflow:hidden;
    
}
#slogan{
    position:relative;
    float:left;
    font-family: 'Brush Script MT';
	font-size:1.8em;
	color:#ffffff;
    padding:0px 10px 0px 10px;
	margin:5px 0px 0px 0px;
}
#buttons {
    position:absolute;
    right: 1%;
}

#menu ul{
	padding:0px;
	margin:0px;
	list-style:none;
}

#menu ul li{
	display: block;
	float: left;
	text-align: center;
	padding: 0;
	margin: 0;
}

#menu ul li a{
	width:auto;
	height:25px;
	margin:0px;
	padding:5px 10px 0px 10px;
	margin:5px 0px 0px 0px;
	display: block;
	text-decoration:none;
    font-family: Arial;
	font-size:1.2em;
	color:#ffffff;
	border-left:solid 1px #e1e1e1;
		
}

#menu ul li a:hover{
	color:#7878ff;	
}

/*---Create Page---*/

#emailpw {
    position:relative;
    float:left;
    text-align:center;

}

/*---Search Page---*/
#searchcriteria {
    position:relative;
    float:left;
    text-align:left;
}

#artistsearch {
    position:relative;
    float:left;
    margin-left: 40px;
}

#searchby {
    font-size: large;
    text-decoration: underline;
}


