body {
    width: 100%;

}

#banner
{
	width: 99%;
	position: relative;
	font-size: large;
    top: 0px;
    left: 0px;
}
#links {
    width: 99%; 
    position: relative;
    text-align:right;
    float:right;
   
}

#left
{
	position: relative;
	float: left;
	width: 30%;

}							

#right
{

	position: relative;
	float: left;
	width: 65%;
}

#bottom
{

	width: 100%;
	position: relative;
	float: left;
}



#labels {
    position: relative;
    float: left;
    width: 32%;
    text-align: right;
    padding-right: 5px;
    line-height: 22px;
}	
	
#textboxes {
	position: relative;
	float: right;
	width: 50%;
    text-align: left;       
    line-height: 22px;
}


/*------ MENU ------*/
#menu{
	border:solid 1px #313131;
	background:#cf5300;
    width:99%;
	height:40px;
	margin:10px auto;
	overflow:hidden;
    
}
#slogan{
    position:relative;
    float:left;
    font-family: 'Brush Script MT';
	font-size:1.8em;
	color:#ffffff;
    padding:0px 10px 0px 10px;
	margin:5px 0px 0px 0px;
}
#buttons {
    position:absolute;
    right: 1%;
}

#menu ul{
	padding:0px;
	margin:0px;
	list-style:none;
}

#menu ul li{
	display: block;
	float: left;
	text-align: center;
	padding: 0;
	margin: 0;
}

#menu ul li a{
	width:auto;
	height:25px;
	margin:0px;
	padding:5px 10px 0px 10px;
	margin:5px 0px 0px 0px;
	display: block;
	text-decoration:none;
    font-family: Arial;
	font-size:1.2em;
	color:#ffffff;
	border-left:solid 1px #e1e1e1;
		
}

#menu ul li a:hover{
	color:#7878ff;	
}

/*---Create Page---*/

#emailpw {
    position:relative;
    float:left;
    text-align:center;

}

